<section class="search-container">

    <div class="row" style="margin-bottom: 10px">
        <div class="col-xs-12">
            <button type="button" class="btn btn-sm btn-default" ng-click="vm.toggleFilter()">
                <span class="glyphicon glyphicon-filter" style="color: white"></span>
                <span>{{ vm.showFilters ? 'Hide Filters' : 'Filters' }}</span>
            </button>
        </div>
    </div>

    <div class="panel panel-default" ng-show="vm.showFilters">
        <div class="panel-body">
            <form name="filterForm" id="filterForm">
                <div class="row">
                    <div class="col-xs-12  pad-right-0">
                        <div class="form-group " style="margin-bottom: 5px">
                            <div class="radio inline-block " style="margin-right: 5px">
                                <label>
                                    <input type="radio" name="loadType" id="fullTruckLoad" value="1" ng-model="vm.filter.loadType">
                                    Full Truck Load
                                </label>
                            </div>
                            <div class="radio inline-block ">
                                <label>
                                    <input type="radio" name="loadType" id="partialLoad" value="2" ng-model="vm.filter.loadType">
                                    Partial Load
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <select id="truckType" class="form-control" ng-model="vm.filter.truckType" ng-options="truckType.Name for truckType in vm.truckTypes"></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3" style="margin-bottom: 10px">
                        <label class="">Volume</label>
                    </div>
                    <input class="col-xs-3" type="number" min="0" name="volumeStart" ng-model="vm.filter.volumeStart" />
                    <div class="col-xs-1">-</div>
                    <input class="col-xs-3" type="number" min="0" name="volumeEnd" ng-model="vm.filter.volumeEnd" />
                    <small style="font-size: .7em; padding-left: 3px">Cubic ft</small>
                </div>

                <div class="row">
                    <div class="col-xs-3" style="margin-bottom: 10px">

                        <label class="">Weight</label>
                    </div>
                    <input class="col-xs-3" type="number" min="0" name="weightStart" ng-model="vm.filter.weightStart" />
                    <div class="col-xs-1">-</div>
                    <input class="col-xs-3" type="number" min="0" name="weightEnd" ng-model="vm.filter.weightEnd" />
                    <small style="font-size: .7em; padding-left: 3px">kg</small>
                </div>
                <div class="row">
                    <div class="col-xs-12" style="margin-bottom: 0px">
                        <button type="submit" class="btn btn-danger btn-xs pull-right" ng-click="vm.searchRoutes(filterForm)">Apply</button>
                        <button type="button" class="btn btn-default btn-xs pull-right" ng-click="vm.clearFilter()" style="margin-right: 5px;">Clear</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br />
    <table class="table table-bordered table-condensed">
        <thead>
            <tr>
                <th style="width: 50%">Posted By</th>
                <th style="width: 50%">Action</th>
            </tr>
        </thead>
        <tbody ng-repeat="route in vm.routes" ng-show="vm.isLoading == false && vm.routes.length > 0">
            <tr>
                <td>{{route.PostedByName}}</td>
                <td>
                    <button class="btn btn-sm btn-danger" ng-click="vm.booktruck()">Book Now</button>
                </td>
            </tr>
        </tbody>
        <tbody ng-show="vm.isLoading == false && vm.routes.length == 0">
            <tr>
                <td colspan="2">No matching routes found</td>
            </tr>
        </tbody>
        <tbody ng-show="vm.isLoading == true">
            <tr>
                <td colspan="2">Loading</td>
            </tr>
        </tbody>
    </table>
    <br />
    <a href="#/" class="">Back to Home Page</a>

</section>