<section class="search-container">
    <div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="width: 50%">PostedBy</th>
                    <th style="width: 50%">Action</th>
                </tr>
            </thead>
            <tbody ng-repeat="route in vm.routes" ng-show="vm.isLoading == false">
            <tr>
                <td>{{route.PostedByName}}</td>
                <td>
                    <button class="btn btn-danger" ng-click="vm.booktruck()">Book Now</button>
                </td>
            </tr>
            </tbody>
            <tbody ng-show="vm.isLoading == true">
            <tr><td colspan="2">Loading</td></tr>
            </tbody>
        </table>
    </div>
</section>