<form>
    <section class="search-container">
        <div class="row">
            <div class="col-xs-12 col-md-3 col-lg-3">
                <div class="form-group">
                    <input id="source" type="text" class="form-control  " ng-model="vm.route.source" typeahead-editable="false" typeahead-append-to-body="true"
                           typeahead="city for city in vm.getCities($viewValue)  | limitTo:8" placeholder="Pickup" required>
                </div>
            </div>
            <div class="col-xs-12 col-md-3 col-lg-3">
                <div class="form-group">
                    <input id="destination1" type="text" class="form-control  " ng-model="vm.route.destination" typeahead-editable="false" name="destination" placeholder="DropOff" typeahead-append-to-body="true"
                           typeahead="city for city in vm.getCities($viewValue)  | limitTo:8" required>
                </div>
            </div>
            <div class="col-xs-12 col-md-3 col-lg-3">
                <div class="form-group has-feedback">
                    <input required type="text" class="form-control " datepicker-popup="dd-MMMM-yyyy" ng-model="vm.route.fromDate" is-open="vm.opened" min-date="'today'" close-text="Close" placeholder="dd-MMMM-yyyy" ng-click="vm.open($event)" />
                    <i class="glyphicon glyphicon-calendar form-control-feedback"></i>
                </div>
            </div>
            <div class="col-xs-12 col-md-3 col-lg-3" ng-cloak>
                <div class="form-group" style="width: 100%">
                    <div class="btn-group" style="width: 100%">
                        <button type="button" class="btn btn-default dropdown-toggle form-control" data-toggle="dropdown" aria-expanded="false">
                            {{vm.route.truckType.Name}} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-repeat="truckType in vm.truckTypes">
                                <a href="" ng-click="vm.truckTypeChanged(truckType)">
                                    {{truckType.Name}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="form-group ">
                    <div class="radio inline-block" style="margin-right: 20px">
                        <label>
                            <input type="radio" name="loadType" id="fullTruckLoad" value="1" ng-model="vm.route.loadType">
                            Full Truck Load
                        </label>
                    </div>
                    <div class="radio inline-block">
                        <label>
                            <input type="radio" name="loadType" id="partialLoad" value="2" ng-model="vm.route.loadType">
                            Partial Load
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3 col-lg-3">
                <div class="form-group ">
                    <input type="number" ng-model="vm.route.volume" class="form-control" placeholder="Volume of goods" />
                </div>
            </div>
            <div class="col-xs-12 col-md-3 col-lg-3">
                <div class="form-group ">
                    <input type="number" ng-model="vm.route.weight" class="form-control" placeholder="Weight of goods" />
                </div>
            </div>
            <div class="col-xs-12 col-md-3 col-lg-3">
                <div class="form-group search-btn-container">
                    <button class="btn btn-danger form-control" ng-click="vm.postTruck()">POST ROUTE</button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-3 col-lg-3 ">
                <button class="btn btn-warning " ng-show="vm.posted == true" type="button">
                    Route posted successfully
                </button>
                <br/>
                <br/>
                <a href="#/" class="btn btn-default">Back to Home Page</a>

            </div>
        </div>
    </section>
</form>