<form name="postTruckForm" id="postTruckForm">
    <section class="search-container">
        <div class="row" style="margin-bottom: 10px">
            <div class="col-xs-12 col-md-3 col-lg-3 ">
                <label class="label label-as-badge" ng-show="vm.posted == true">
                    <span class="glyphicon glyphicon-ok" style="margin-right: 5px; color: green"></span>
                    <small>Route posted successfully</small>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-3 col-lg-3">
                <div class="form-group">
                    <input id="source" type="text" class="form-control  " ng-model="vm.route.source" typeahead-editable="false" typeahead-append-to-body="true"
                           typeahead="city for city in vm.getCities($viewValue)  | limitTo:8" placeholder="Pickup" required>
                </div>
            </div>
            <div class="col-xs-12 col-md-3 col-lg-3">
                <div class="form-group">
                    <input id="destination1" type="text" class="form-control  " ng-model="vm.route.destination" typeahead-editable="false" name="destination" placeholder="DropOff" typeahead-append-to-body="true"
                           typeahead="city for city in vm.getCities($viewValue)  | limitTo:8" required>
                </div>
            </div>
            <div class="col-xs-12 col-md-3 col-lg-3">
                <div class="form-group ">
                    <input type="text" class="form-control " datepicker-popup="dd-MMMM-yyyy" ng-model="vm.route.fromDate" is-open="vm.opened" min-date="vm.today" close-text="Close" placeholder="dd-MMMM-yyyy" ng-click="vm.open($event)" required />
                </div>
            </div>
            <div class="col-xs-12 col-md-3 col-lg-3" ng-cloak>
                <div class="form-group">
                    <select id="truckType" class="form-control" ng-model="vm.route.truckType" ng-change="vm.truckTypeChanged()" ng-options="truckType.Name for truckType in vm.truckTypes"></select>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="form-group ">
                    <div class="radio inline-block" style="margin-right: 20px">
                        <label>
                            <input type="radio" name="loadType" id="fullTruckLoad" value="1" ng-model="vm.route.loadType">
                            Full Truck Load
                        </label>
                    </div>
                    <div class="radio inline-block">
                        <label>
                            <input type="radio" name="loadType" id="partialLoad" value="2" ng-model="vm.route.loadType">
                            Partial Load
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3 col-lg-3">
                <div class="form-group ">
                    <input type="number" min="0" ng-model="vm.route.volume" class="form-control" placeholder="Volume of goods (Cubic ft)" />
                </div>
            </div>
            <div class="col-xs-12 col-md-3 col-lg-3">
                <div class="form-group ">
                    <input type="number" min="0" ng-model="vm.route.weight" class="form-control" placeholder="Weight of goods (kg)" />
                </div>
            </div>
            <div class="col-xs-12 col-md-3 col-lg-3">
                <div class="form-group search-btn-container">
                    <button class="btn btn-danger form-control" ng-click="vm.postTruck(postTruckForm)">POST ROUTE</button>
                </div>
            </div>
        </div>
        <br />
        <div class="row"style="margin-bottom: 10px">
            <div class="col-xs-12">
                <a href="#/" style="color: black; font-size: .8em">Back to Home Page</a>
            </div>
        </div>
    </section>
</form>